<div class="container-fluid">

    <div class="row">
        <div class="col-md-6" style="text-align: center;">
            <h3>Data Karyawan</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2" style="text-align: right;">
            <img src="C:/Private/hr_layout/image/html5.gif" alt="HTML5 Icon" style="width:128px;height:128px;">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-2" style="text-align: right;">
            <h4><span class="label label-default">Active</span></h4>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2" style="text-align: right;"><label>NIK :</label></div>
        <div class="col-md-2"><input type="text" class="form-control"></div>
    </div>
    <div class="row">
        <div class="col-md-2" style="text-align: right;"><label>Nama :</label></div>
        <div class="col-md-3"><input type="text" class="form-control"></div>
    </div>
    <div class="row">
        <div class="col-md-2" style="text-align: right;"><label>Jabatan :</label></div>
        <div class="col-md-3"><input type="text" class="form-control"></div>
    </div>
    <div class="row">
        <div class="col-md-2" style="text-align: right;"><label>Tanggal Bergabung :</label></div>
        <div class="col-md-2"><input type="text" class="form-control"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2" style="text-align: right;"><label>Alamat :</label></div>
        <div class="col-md-4"><input type="text" class="form-control"></div>
    </div>
    <div class="row">
        <div class="col-md-2" style="text-align: right;"><label>Jenis Kelamin :</label></div>
        <div class="col-md-2"><input type="text" class="form-control"></div>
    </div>
    <div class="row">
        <div class="col-md-2" style="text-align: right;"><label>Status :</label></div>
        <div class="col-md-2"><input type="text" class="form-control"></div>
    </div>
</div>