<div class="container-fluid">

    <div class="row">
        <div class="col-md-6" style="text-align: center;">
            @*<h3>Registrasi Karyawan Baru</h3>*@
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-2" style="text-align: right;"><label>NIK :</label></div>
        <div class="col-md-2"><input type="text" class="form-control" disabled></div>
    </div>
    <div class="row">
        <div class="col-md-2" style="text-align: right;"><label>Nama :</label></div>
        <div class="col-md-3"><input type="text" class="form-control"></div>
    </div>
    <div class="row">
        <div class="col-md-2" style="text-align: right;"><label>Jabatan :</label></div>
        <div class="col-md-3">
            <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>2</option>
                <option>2</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" style="text-align: right;"><label>Tanggal Bergabung :</label></div>
        <div class="col-md-2"><input type="date" class="form-control"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2" style="text-align: right;"><label>Jenis Kelamin :</label></div>
        <div class="col-md-2">
            <label class="radio-inline"><input type="radio" name="optradio">Option 2</label>
            <label class="radio-inline"><input type="radio" name="optradio">Option 3</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" style="text-align: right;"><label>Email :</label></div>
        <div class="col-md-3"><input type="text" class="form-control"></div>
    </div>
    <div class="row">
        <div class="col-md-2" style="text-align: right;"><label>Alamat :</label></div>
        <div class="col-md-4"><input type="text" class="form-control"></div>
    </div>

    <div class="row">
        <div class="col-md-2" style="text-align: right;"><label>Status :</label></div>
        <div class="col-md-2">
            <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" style="text-align: right;"><label>Unggah Foto :</label></div>
        <div class="col-md-2">
            <input type="file" name="pic" accept="image/*">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6" style="text-align: center;">
            <button type="button" class="btn btn-danger">Batal</button>
            <button type="button" class="btn btn-primary">Simpan</button>
        </div>
    </div>
</div>
